﻿<%@ Page Title="" Language="C#" MasterPageFile="~/FeverClinic/Doctor/FeverClinicDocMaster.master" AutoEventWireup="true" CodeFile="FinAssCer.aspx.cs" Inherits="FeverClinic_Doctor_FinAssCer" %>

 <%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajax" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server" >
        <table>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>            <td> &nbsp;</td>
</tr>
            <tr><td class="auto-style1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Registered Patient? &nbsp;</td><td class="auto-style1">&nbsp;&nbsp; &nbsp;
                <asp:DropDownList ID="ddl_reg" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddl_reg_SelectedIndexChanged">
                    <asp:ListItem>[Select]</asp:ListItem>
                    <asp:ListItem>Yes</asp:ListItem>
                    <asp:ListItem>No</asp:ListItem>
                </asp:DropDownList>
                &nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:Label ID="lbl_pno" runat="server" Text="Enter Patient Card Number"></asp:Label>
                &nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:TextBox ID="txt_pno" runat="server"></asp:TextBox>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <asp:Button ID="btn_search" runat="server" CssClass="btn" OnClick="btn_search_Click" Text="Search" />
                    &nbsp;</td></tr>
            
            <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
            
            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Doctor Name</td><td>&nbsp;&nbsp;&nbsp;&nbsp; <asp:TextBox ID="txt_docname" CssClass="twitter" runat="server" ReadOnly="True"></asp:TextBox></td></tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Patient Name</td><td>        &nbsp;&nbsp;&nbsp;&nbsp;        <asp:TextBox ID="txt_patname" CssClass="twitter" runat="server"></asp:TextBox>
                <asp:Label ID="lbl_gen" runat="server">F/M</asp:Label>

</td></tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Age</td><td>        
                &nbsp;&nbsp;&nbsp;&nbsp;        
                <asp:TextBox ID="txt_age" runat="server" CssClass="twitter"></asp:TextBox>

</td></tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Diagnosis</td><td>        &nbsp;&nbsp;&nbsp;&nbsp;        <asp:TextBox ID="txt_diag" CssClass="twitter" runat="server"></asp:TextBox>                    

</td></tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Financial Assistance Needed in Rs.</td><td>        &nbsp;&nbsp;&nbsp;&nbsp;        <asp:TextBox ID="txt_amt" CssClass="twitter" runat="server"></asp:TextBox>

</td></tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr><td>&nbsp;</td><td>
                <asp:Label ID="lbl_words" runat="server"></asp:Label>
                </td></tr>
            <tr><td>&nbsp;</td><td>        &nbsp;</td></tr>
            
            <tr><td>&nbsp;</td><td>        &nbsp;</td></tr>
            
<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <asp:Button ID="btnReport" runat="server" Text="Generate" CssClass="btn" OnClick = "GenerateReport" /></td><td></td></tr>
    <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>   </table> </form>
</asp:Content>


