﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Casuality/Nurse/NurseMaster.master" AutoEventWireup="true" CodeFile="CasualityHome.aspx.cs" Inherits="CasualityHome" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .auto-style1 {
            color: #999966;
        }
        .auto-style2 {
            font-size: x-large;
        }
        .auto-style3 {
            font-size: xx-large;
            text-align: center;
        }
        .auto-style4 {
            font-size: x-large;
            height: 33px;
        }
    </style>
    </asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
    <table class="auto-style1">
        <tr>
            <td class="auto-style4" colspan="2"></td>
        </tr>
        <tr>
            <td class="auto-style2" colspan="2">
                &nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style2" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="auto-style3" colspan="2"><strong class="auto-style1">CASUALITY BEDS AND ALLOCATIONS</strong></td>
        </tr>
        <tr>
            <td class="auto-style8" colspan="2"></td>
        </tr>
        <tr>
            <td class="auto-style9">&nbsp;</td>
            <td class="auto-style2">&nbsp;</td>
        </tr>
        </table>
    </form>
</asp:Content>

