﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="NurseMaster.master.cs" Inherits="OPD_Nurse_NurseMaster" %>
<!DOCTYPE html>
<html>
<head id="Head1" runat="server">
<title>Government General Hospital</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Medi Cure Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
    <link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../../css/style.css" rel="stylesheet"  type="text/css" media="all"/>
    <link href="../../css/component.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../css/ihover.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../css/swipebox.css" rel="stylesheet" type="text/css" media="all" />
<%--<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- toggle menu links -->
<link href="css/component.css" rel="stylesheet" type="text/css"  />
<!-- //menu links -->
<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
<!-- effect9 links -->
<link href="css/ihover.css" rel="stylesheet" media="all">--%>
<!-- js -->
<%--<script src="js/jquery-1.11.1.min.js"></script>--%>
    <script src="../../js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- start-smoth-scrolling -->
    <script src="../../js/move-top.js" type="text/javascript"></script>
    <script src="../../js/easing.js" type="text/javascript"></script>
		<%--<script type="text/javascript" src="js/move-top.js"></script>--%>
		<%--<script type="text/javascript" src="js/easing.js"></script>--%>
		<script type="text/javascript">
		    jQuery(document).ready(function ($) {
		        $(".scroll").click(function (event) {
		            event.preventDefault();
		            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
		        });
		    });
		</script>
	<!-- start-smoth-scrolling -->
<asp:ContentPlaceHolder ID="head" runat="server">
   
    </asp:ContentPlaceHolder>
</head>
<body class="cbp-spmenu-push">
       <!--top-header-->
		<!--bottom-->
		  <section class="button">
					<button id="showLeftPush"><img src="../../images/menu.png" alt=""></button>
		   </section>
			<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
				<h3>Menu</h3>
<a href="homepagenurse.aspx">Home</a>
           <a href="CasualityHome.aspx">Emergency Room</a>
          <a href="BulletinBoard.aspx">Bulletin Board</a>
       <a href="logout.aspx">Logout</a>
		    </nav>
		  
		<!-- Classie - class helper functions by @desandro https://github.com/desandro/classie -->
		<script src="../../js/classie.js"></script>
		<script>
		    var menuLeft = document.getElementById('cbp-spmenu-s1'),
				showLeftPush = document.getElementById('showLeftPush'),
				showRightPush = document.getElementById('showRightPush'),
				body = document.body;

		    showLeftPush.onclick = function () {
		        classie.toggle(this, 'active');
		        classie.toggle(body, 'cbp-spmenu-push-toright');
		        classie.toggle(menuLeft, 'cbp-spmenu-open');
		        disableOther('showLeftPush');
		    };

		    function disableOther(button) {
		        if (button !== 'showLeftPush') {
		            classie.toggle(showLeftPush, 'disabled');
		        }
		        if (button !== 'showRightPush') {
		            classie.toggle(showRightPush, 'disabled');
		        }
		    }
		</script>
<!-- banner -->
<div class="banner page-head">
	<div class="logo">
		<h1><a href="SystemHome.aspx">HOSPITAL EMERGENCY & FEVER CLINIC MANAGEMENT SYSTEM</a></h1>
	</div>
	<%--<div class="search">		
		<a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i class="glyphicon glyphicon-search"> </i> </a>
	</div>
	<script src="../js/jquery.magnific-popup.js" type="text/javascript"></script>
		<div id="small-dialog" class="mfp-hide">
			<div class="search-top">
				<div class="login">
					<input type="submit" value="">
					<input type="text" value="Type something..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">		
				</div>			
			</div>
			<script>
			    $(document).ready(function () {
			        $('.popup-with-zoom-anim').magnificPopup({
			            type: 'inline',
			            fixedContentPos: false,
			            fixedBgPos: true,
			            overflowY: 'auto',
			            closeBtnInside: true,
			            preloader: false,
			            midClick: true,
			            removalDelay: 300,
			            mainClass: 'my-mfp-zoom-in'
			        });

			    });
			</script>				
		</div>--%>
	
</div>
<!-- //banner -->
<!-- single -->
<!--blog-starts--> 
    <br /><br /><br /><br /><br /><br /><br />

     <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
    <br /><br /><br /><br /><br /><br /><br /><br />
    <br />
<%--<div class="blog-section">
	<div class="container"> 
		<!--single-page-->
		 <div class="banner-bdy sig">
			<div class="single">
			<div class="sing-img-text">
				<img src="images/44.jpg" alt=" ">
				<div class="sing-img-text1">
					<h3>Nam libero tempore, cum soluta nobis est eligendi</h3>
						<div class="admin-tag1">
							<p>Posted by <a href="single.html">Admin</a> in <a href="#">General</a> | <a href="single.html">10 Comments</a></p>
						</div>
					<p class="est">Maecenas et laoreet neque. Aenean tempus feugiat eros, eu convallis ligula tincidunt a. Nam facilisis enim at augue viverra ultrices. Etiam nec mollis est, non pulvinar arcu. Cras adipiscing nisi leo, non faucibus est commodo in. Integer nec erat convallis, cursus magna et, egestas odio. Donec nec quam nibh. Nam ante ipsum, sollicitudin sed augue sit amet, accumsan accumsan felis. Vivamus laoreet ligula mi.
						<span>Nunc ornare, justo eget volutpat porttitor, massa felis rhoncus dui, eu convallis enim lectus vel velit. Nam ac aliquam ligula, ultrices blandit leo. Suspendisse sed semper libero. Integer bibendum orci non mauris pharetra scelerisque. Nunc vitae tempor augue, in condimentum mi. In eu velit hendrerit, tempor tortor at, hendrerit erat. Donec feugiat tristique turpis non sagittis. Donec pharetra hendrerit vulputate.</span>
						Phasellus facilisis tincidunt velit, ac tincidunt diam fermentum consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vel facilisis lorem. Vivamus non feugiat mauris, et rhoncus est. Curabitur aliquam ac lacus ac facilisis. Sed sodales ut nibh eget lacinia. Morbi malesuada semper elit eu interdum. Ut et tellus non enim tristique lacinia. Duis neque sem, vehicula id augue quis, porttitor consectetur tellus. Sed risus massa, tristique vitae tempus vitae, bibendum sit amet metus. Vestibulum in fermentum neque.
						<span>Vestibulum condimentum est feugiat, porta massa at, fermentum magna. Fusce et porta risus, sed sagittis dolor. Nunc lectus felis, mattis sed congue eget, dictum vitae nisi. Cras non sodales est. Aliquam mollis consequat facilisis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Proin suscipit odio vitae imperdiet varius. Mauris elementum enim eget vestibulum imperdiet. Aliquam mollis purus dui, eget aliquet elit malesuada ut. Donec mollis sapien eu ultrices molestie. Cras consectetur semper facilisis.</span></p>
					<div class="com">
						<h3 class="commant">Comments</h3>
						<ul class="media-list">
						  <li class="media">
							<div class="media-left">
							  <a href="#">
								<span class="glyphicon glyphicon-user"></span>
							  </a>
							</div>
							<div class="media-body">
							  <h4 class="media-heading">Simmy</h4>
							  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus 
							  scelerisque ante sollicitudin commodo. Cras purus odio, 
							  vestibulum in vulputate at, tempus viverra turpis. 
							  Fusce condimentum nunc ac nisi vulputate fringilla. 
							  Donec lacinia congue felis in faucibus.</p>
							  <a href="#">Reply</a>
							</div>
						  </li>
						  <li class="media">
							<div class="media-left">
							  <a href="#">
								<span class="glyphicon glyphicon-user"></span>
							  </a>
							</div>
							<div class="media-body">
							  <h4 class="media-heading">Sandra Rickon</h4>
							  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus 
							  scelerisque ante sollicitudin commodo. Cras purus odio, 
							  vestibulum in vulputate at, tempus viverra turpis. 
							  Fusce condimentum nunc ac nisi vulputate fringilla. 
							  Donec lacinia congue felis in faucibus.</p>
							  <a href="#">Reply</a>
							</div>
						  </li>
						  <li class="media">
							<div class="media-left">
							  <a href="#">
								<span class="glyphicon glyphicon-user"></span>
							  </a>
							</div>
							<div class="media-body">
							  <h4 class="media-heading">Rita Rider</h4>
							  <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus 
							  scelerisque ante sollicitudin commodo. Cras purus odio, 
							  vestibulum in vulputate at, tempus viverra turpis. 
							  Fusce condimentum nunc ac nisi vulputate fringilla. 
							  Donec lacinia congue felis in faucibus.</p>
							  <a href="#">Reply</a>
							</div>
						  </li>
						</ul>
					</div>
					
				</div>
			</div>
			<div class="sing-img-text-left">
				<div class="blog-right1">
					<div class="search11">--%>
						<%--<h3>Newsletter</h3>
						<form>
							<input type="text" value="Email..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email...';}" required="">
							<input type="submit" value="Subscribe">
						</form>--%>
                                       
					<%--</div>
					<div class="categories">
						<h3>Categories</h3>
						<ul>
							<li><a href="#"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>Aliquam dapibus tincidunt</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>Donec sollicitudin molestie</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>Fusce feugiat malesuada odio</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>Cum sociis natoque penatibus</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>Magnis dis parturient montes</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>Donec sollicitudin molestie</a></li>
						</ul>
					</div>
					<div class="categories categories-mid">
						<h3>Archives</h3>
						<ul>
							<li><a href="#">May 20,2009</a></li>
							<li><a href="#">July 31,2010</a></li>
							<li><a href="#">January 20,2012</a></li>
							<li><a href="#">November 2,2012</a></li>
							<li><a href="#">December 25,2014</a></li>
							<li><a href="#">January 14,2015</a></li>
						</ul>
					</div>
					<div class="related-posts">
						<h3>Related Posts</h3>
						<div class="related-post">
							<div class="related-post-left">
								<a href="single.html"><img src="images/4.jpg" alt=" " /></a>
							</div>
							<div class="related-post-right">
								<h4><a href="single.html">Donec sollicitudin</a></h4>
								<p>Aliquam dapibus tincidunt metus. 
									<span>Praesent justo dolor, lobortis.</span>
								</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="related-post">
							<div class="related-post-left">
								<a href="single.html"><img src="images/44.jpg" alt=" " /></a>
							</div>
							<div class="related-post-right">
								<h4><a href="single.html">Donec sollicitudin</a></h4>
								<p>Aliquam dapibus tincidunt metus. 
									<span>Praesent justo dolor, lobortis.</span>
								</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="related-post">
							<div class="related-post-left">
								<a href="single.html"><img src="images/444.jpg" alt=" " /></a>
							</div>
							<div class="related-post-right">
								<h4><a href="single.html">Donec sollicitudin</a></h4>
								<p>Aliquam dapibus tincidunt metus. 
									<span>Praesent justo dolor, lobortis.</span>
								</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						
					</div>
				</div>
			</div>

--%>

		<%--	<div class="clearfix"> </div>
			<div class="leave-a-comment">
				<h3>Leave your comment Here</h3> 
				<form>
					<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
					<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
					<input type="text" value="Phone Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone Number';}" required="">
					<textarea onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type Your Comment here...';}" required="">Type Your Comment here...</textarea>
					<input type="submit" value="Add Comment">
				</form>
			</div>
		</div>
	</div>
<!-- /single -->   
	</div>
</div> 
<!-- //single -->
<!-- contact -->
<div class="contact-home">
	<div class="map-home">
		<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d2482.432383990807!2d0.028213999961443994!3d51.52362882484525!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1423469959819"></iframe>
		<div class="map-pos">
			<div class="login-pad">
				<h2>MAKE AN APPOINTMENT</h2>
					<form>
						<input type="text" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}" required="">
						<input type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
						<input type="text" value="Mobile" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mobile';}" required="">
						<label class="checkbox"><input type="checkbox" name="checkbox" checked><i> </i>Subscribe in your Newsletter</label>
						<textarea placeholder="Message" required=""></textarea>
						<input type="submit" value="SEND">
					</form>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>--%>


<!-- //contact -->
<!-- copy-right -->
<div class="copy-right">
	<div class="container">
		<p> &copy; 2016 All Rights Reserved | Designed & Developed By Kessy</p>
	</div>
</div>
<!-- //copy-right -->
<!-- Bootstrap core JavaScript-->
    <!-- Placed at the end of the document so the pages load faster -->
	<!-- js -->
		 <script src="js/bootstrap.js"></script>
	<!-- js -->
<!-- smooth scrolling -->
	<script type="text/javascript">
	    $(document).ready(function () {
	        /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
                };
            */
	        $().UItoTop({ easingType: 'easeOutQuart' });
	    });
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- //smooth scrolling -->
</body>
</html>

