﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Casuality/Doctor/DoctorMaster.master" AutoEventWireup="true" CodeFile="CasualityHome.aspx.cs" Inherits="Casuality_Doctor_CasualityHome" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
   
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <form id="form1" runat="server">
    <table>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
        
        <tr>
            <td  colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td  colspan="2"><strong >CASUALITY BEDS AND ALLOCATIONS</strong></td>
        </tr>
        <tr>
            <td  colspan="2"></td>
        </tr>
        <tr>
            <td >&nbsp;</td>
            <td >&nbsp;</td>
        </tr>
        </table>
    </form>
</asp:Content>


