﻿<%@ Page Title="" Language="C#" MasterPageFile="~/RMO/RMOHomeMaster.master" AutoEventWireup="true" CodeFile="logout.aspx.cs" Inherits="RMO_logout" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>

